* {
	margin: 0;
	padding: 0;
}
.bgd {
	background-color: #1b192e;
	width: 100%;
	height: 50px;
}
.icon {margin: 0 auto;
		padding-top: 8px;
		padding-left: 3px;
}
p {
	font-size: 20px;
}
.text {
	padding-top: 30px;
	padding-bottom: 00px;
}
header nav a {
	color: #000;
	justify-content: left;
}

header nav {
	justify-content: left;
	display: flex;
	color: #000;
}
.wrap{
	width: 100%;
	text-align: right;
	font-family: arial;
	color: #000;
	text-decoration: none;
	font-size: 12px;
}
.clear {
	clear: both;
}
.menu {
	background: #FFF;
	color: #000000;
}
.menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.menu ul li {
	float: left;
	position: relative;
}
.menu ul li a {
	padding: 15px 25px;
	display: block;
	text-decoration: none;
	transition: background .3s ease;
	
}
.menu ul li a:hover {
	background: #6db3f7;
	color: #FFF;
}
.menu ul ul {
	position: absolute;
	background: #ccc;
	width: 200px;
	visibility: hidden;
	opacity: 0;
	transition: opacity .5s ease;
	
}
.menu ul ul ul {
	left: 100%;
	top:0;
	background: #f0f0f0;
}
.menu li li {
	float: none;
}
.menu li:hover > ul {
	opacity: 1;
	visibility: visible;
}
.i {
	width: 100%;
	padding-top: 20px;
	height: 500px;
}
.bgdfoot {
	background-color: #ebebeb;
	width: 100%;
	height: 100px;
	padding: 0px;
	margin: 0 auto;
	}
.lorem {
	font-family: arial;
	font-size: 15px;
	padding-top: 2px;
}
.lore {
	padding-top: 2px;
	font-family: verdana;
}
h2 {
	padding-top: 10px;
	font-family: verdana;
	padding-left: 10px;
	font-size: 19px;
}
h3 {display: flex;
    justify-content: center;
    padding-top: 50px;
}
.gambar {
	padding-top: 20px;
     width: 30%;
     padding-left: 30px;
}
.av {
	padding-top: 20px;
	width: 30%;
	padding-right: 20px;
	padding-left: 20px;
}
.gambr {
	padding-top: 20px;
 	width: 30%;
 	height: 211px;
}
.bg {
	padding-top: 10px;
	width: 70%;
	height: 20px;
	background-color: #365183;
	float: right;
}
#footer {
	background: url(usif-eb-5-visa-header-background.jpg);
	height: 108px;
	float: left;
	width: 100%;
	margin-top: 20PX;
}
#bottom {
	padding-top: 18px;
	text-align: center;
	font-family: arial;
	font-size: 12px;
	margin: 25px 0 0 0;
	font-weight: bold;
	letter-spacing: 1px;
}
#bottom a {
	color: #ffffff;
}
#bottom a:link {
	text-decoration: none;

}
#bottom a:hover {
	text-decoration: underline;
	color: #ffff00;
}
#copy {
	margin: 25px 0 0 0;
	font-family: verdana;
	color: #ffffcc;
	font-size: 10px;
	text-align: center;
}
#copy a {
	color: #ffffcc
}
#footer #copy a:link {
	text-decoration: none;
}
#footer #copy a:hover {
	text-decoration: underline;
}
